---
import Layout from "../layouts/Layout.astro";
import ShareIcons from "../components/ShareIcons.astro";
import Calculator from "../components/calculator.astro";
---

<main>
  <Layout title="Modern calculator" />
  <Calculator />
  <ShareIcons />
</main>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
